
$screen-s: 769px
$screen-m: 992px
$screen-l: 1200px  
$breakpoints: ( 'small': ( min-width: 769px ), 'medium': ( min-width: 992px ), 'large': ( min-width: 1200px ) ) !default

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Raleway:300|Source+Code+Pro:400');

* 
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  font-weight: 300

strong
  font-weight: 400

h1
  font-size: 4em

.body-font
  font-size: 2em
  line-height: 2em
  font-weight: 300

h1, h2, h3, h4, h5, .heading-font
  font-family: 'Raleway', sans-serif
  font-weight: 300

  & *
    font-family: 'Raleway', sans-serif

code, code *
  font-family: 'Source Code Pro', monospace
  font-weight: 400 !important

$orange: #e07543
$blue: #43b3e0
$light-gray: #aaa
$black: #26262a
$white: #fff

$title: $black
$subtitle: $light-gray

$darkBackground: $black
$lightForeground: white

$weight-thin: 300

@mixin respond-to($breakpoint)
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint)
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} 
      @content
  // If the key doesn't exist in the map
  @else
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($breakpoints)}."
